
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.RazorAssemblyInfo.cs
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.RazorAssemblyInfo.cache
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.GlobalUsings.g.cs
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.GeneratedMSBuildEditorConfig.editorconfig
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.AssemblyInfoInputs.cache
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/Exercice 4 MVC.AssemblyInfo.cs
Ex04_MVC/Exercice 4 MVC/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.RazorAssemblyInfo.cs
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.RazorAssemblyInfo.cache
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.GlobalUsings.g.cs
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.GeneratedMSBuildEditorConfig.editorconfig
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.AssemblyInfoInputs.cache
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/Exercice 4 MVC.AssemblyInfo.cs
Ex04_MVC/Exercice 4 MVC/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Ex03_Linq/Ex03_LINQ/obj/Release/net7.0/Ex03_LINQ.GlobalUsings.g.cs
Ex03_Linq/Ex03_LINQ/obj/Release/net7.0/Ex03_LINQ.GeneratedMSBuildEditorConfig.editorconfig
Ex03_Linq/Ex03_LINQ/obj/Release/net7.0/Ex03_LINQ.AssemblyInfoInputs.cache
Ex03_Linq/Ex03_LINQ/obj/Release/net7.0/Ex03_LINQ.AssemblyInfo.cs
Ex03_Linq/Ex03_LINQ/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Ex03_Linq/Ex03_LINQ/obj/Debug/net7.0/Ex03_LINQ.GlobalUsings.g.cs
Ex03_Linq/Ex03_LINQ/obj/Debug/net7.0/Ex03_LINQ.GeneratedMSBuildEditorConfig.editorconfig
Ex03_Linq/Ex03_LINQ/obj/Debug/net7.0/Ex03_LINQ.AssemblyInfoInputs.cache
Ex03_Linq/Ex03_LINQ/obj/Debug/net7.0/Ex03_LINQ.AssemblyInfo.cs
Ex03_Linq/Ex03_LINQ/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
.vs/slnx.sqlite
.vs/Formation-.NET-Core/FileContentIndex/e70bea2c-6da3-4b61-8715-7a1fc683a123.vsidx
.vs/Formation-.NET-Core/config/applicationhost.config
.vs/Formation-.NET-Core/FileContentIndex/f44ca44c-7d6d-4573-9035-4640b3f53fab.vsidx
*.vsidx
